# .clang-format

Language: Cpp
BasedOnStyle: LLVM
PointerAlignment: Left
AlignConsecutiveDeclarations: false
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: true
IndentWidth: 4
UseTab: Never
TabWidth: 4
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 2
ColumnLimit: 80
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
